@import assets/sass/reusable
@import assets/sass/fonts

#partiesHome
  .party-logo
    width: 40px

  .rdt_TableHead, .rdt_TableCell
    @extend .cartogothic

    div
      font-size: 14px

  .DataTableContainer
    max-height: 70vh

