@import assets/sass/reusable
@import assets/sass/fonts

#partiesHome
  .party-logo
    width: 40px

  .rdt_TableHead
    @extend .cartogothic

    div
      font-size: 14px
      font-weight: 400
      color: #444

  .rdt_TableCell
    @extend .cartogothic

    div
      font-size: 14px
      font-weight: 400
      color: #444

  .rdt_TableBody
    max-height: 60vh
    overflow-y: scroll

