@import 'assets/sass/fonts'
@import 'assets/sass/reusable'
@import 'assets/sass/logowithtext'

$heroUrl: 'assets/img/auth/login_hero.jpg'
#loginRoute
  background-color: #fff !important
  border-top: 6px solid #4BB580
  .row
    margin-right: 0
