@import assets/sass/reusable
@import assets/sass/fonts

.vote-party-card
  border-top: solid 6px transparent
  transition-duration: .6s
  transition-property: border-color, border-top-left-radius, border-top-right-radius
  display: flex
  cursor: pointer
  flex-direction: column
  position: relative

  .candidateOverlay
    position: absolute
    top: 90%
    left: 0
    padding: 25px
    width: auto
    flex-direction: column
    flex-wrap: nowrap
    text-wrap: none
    min-width: 320px
    max-width: 500px
    opacity: 0
    z-index: -99
    display: none
    background-color: #f9f9f9
    border-color: #ddd
    transition: opacity 1s 0s, z-index 0s 0s

    .title
      display: flex
      flex-flow: row
      margin-bottom: 15px

      h3
        font:
          size: 22px
          weight: 700
        @extend .montserrat

      img
        height: 30px

    .candidate
      margin-bottom: 15px

      .candidate-info
        display: flex
        flex-direction: column

        .candidate-campaign-picture
          height: 64px
          margin:
            right: 15px
            bottom: 15px

    h3
      @extend .cartogothic
      font-size: 21px

  & + .vote-button
    margin:
      left: auto
      right: auto
    width: 150px
    text-align: center
    font-weight: bold

  &:hover
    border-color: $themeColor
    border-top:
      left-radius: 0
      right-radius: 0

    .candidateOverlay
      display: flex
      background-color: white
      opacity: 1
      z-index: 99
      transition: opacity .5s 0s, z-index 0s 0s


  .selectedOverlay
    z-index: -1
    opacity: 0
    transition-duration: .9s
    transition-property: opacity
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    flex-direction: column
    justify-content: center
    align-items: center
    border-radius: 0 0 9px 9px
    background-color: rgba(0, 0, 0, .7)
    display: flex

  &.selected
    border-top: solid 6px $themeColor
    border-top:
      left-radius: 0
      right-radius: 0


    .selectedOverlay
      z-index: 4
      opacity: 1

      img
        height: 80px
        width: auto

      p
        margin-top: 25px
        color: #fffffd
        text-shadow: 0 0 1px #333, 0 0 2px #bbac8b
        font:
          size: 25px
          weight: bold
        @extend .poppins


  .party-logo
    height: 100px
    margin: 0 auto

  .party-acronym
    margin: 15px auto 0
    font:
      size: 20px
    @extend .cartogothic
