.raleway
  font-family: 'Raleway', sans-serif
.poppins
  font-family: 'Poppins', sans-serif
.montserrat
  font-family: 'Montserrat', sans-serif
.openSans
  font-family: 'Open Sans', sans-serif
.catamaran
  font-family: 'Catamaran', sans-serif
.circular
  font-family: 'Circular STD', sans-serif
.cartogothic
  font-family: 'Cartogothic STD', sans-serif

$circularSTDUrl: "assets/fonts/CircularStdFont.otf"
$cartogothicSTDURL: "assets/fonts/cartogothic_std.otf"

@font-face
  font-family: 'Circular STD'
  src: url('~#{$circularSTDUrl}')

@font-face
  font-family: "Cartogothic STD"
  src: url('~#{$cartogothicSTDURL}')