$circularSTDUrl: "assets/fonts/CircularStdFont.otf"
$cartogothicSTDURL: "assets/fonts/cartogothic_std.otf"

@font-face
  src: url("~assets/fonts/Poppins-Regular.ttf")
  font-style: normal
  font-weight: normal
  font-family: "Poppins"

@font-face
  src: url("~assets/fonts/Poppins-Italic.ttf")
  font-style: italic
  font-weight: normal
  font-family: "Poppins"

@font-face
  src: url("~assets/fonts/Poppins-Bold.ttf")
  font-style: normal
  font-weight: bold
  font-family: "Poppins"

@font-face
  src: url("~assets/fonts/Poppins-BoldItalic.ttf")
  font-style: italic
  font-weight: bold
  font-family: "Poppins"

@font-face
  src: url("~assets/fonts/Poppins-Light.ttf")
  font-style: normal
  font-weight: 200
  font-family: "Poppins"

@font-face
  src: url("~assets/fonts/Poppins-LightItalic.ttf")
  font-style: italic
  font-weight: 200
  font-family: "Poppins"

@font-face
  src: url("~assets/fonts/Raleway-Regular.ttf")
  font-style: normal
  font-weight: normal
  font-family: "Raleway"

@font-face
  src: url("~assets/fonts/Raleway-Italic.ttf")
  font-style: italic
  font-weight: normal
  font-family: "Raleway"

@font-face
  src: url("~assets/fonts/Raleway-Bold.ttf")
  font-style: normal
  font-weight: bold
  font-family: "Raleway"

@font-face
  src: url("~assets/fonts/Raleway-BoldItalic.ttf")
  font-style: italic
  font-weight: bold
  font-family: "Raleway"

@font-face
  src: url("~assets/fonts/Raleway-Light.ttf")
  font-style: normal
  font-weight: 200
  font-family: "Raleway"

@font-face
  src: url("~assets/fonts/Raleway-LightItalic.ttf")
  font-style: italic
  font-weight: 200
  font-family: "Raleway"

@font-face
  src: url("~assets/fonts/OpenSans-Regular.ttf")
  font-style: normal
  font-weight: normal
  font-family: "Open Sans"

@font-face
  src: url("~assets/fonts/OpenSans-Italic.ttf")
  font-style: italic
  font-weight: normal
  font-family: "Open Sans"

@font-face
  src: url("~assets/fonts/OpenSans-Bold.ttf")
  font-style: normal
  font-weight: bold
  font-family: "Open Sans"

@font-face
  src: url("~assets/fonts/OpenSans-BoldItalic.ttf")
  font-style: italic
  font-weight: bold
  font-family: "Open Sans"

@font-face
  src: url("~assets/fonts/OpenSans-Light.ttf")
  font-style: normal
  font-weight: 200
  font-family: "Open Sans"

@font-face
  src: url("~assets/fonts/OpenSans-LightItalic.ttf")
  font-style: italic
  font-weight: 200
  font-family: "Open Sans"

@font-face
  src: url("~assets/fonts/Montserrat-Regular.ttf")
  font-style: normal
  font-weight: normal
  font-family: "Montserrat"

@font-face
  src: url("~assets/fonts/Montserrat-Italic.ttf")
  font-style: italic
  font-weight: normal
  font-family: "Montserrat"

@font-face
  src: url("~assets/fonts/Montserrat-Bold.ttf")
  font-style: normal
  font-weight: bold
  font-family: "Montserrat"

@font-face
  src: url("~assets/fonts/Montserrat-BoldItalic.ttf")
  font-style: italic
  font-weight: bold
  font-family: "Montserrat"

@font-face
  src: url("~assets/fonts/Montserrat-Light.ttf")
  font-style: normal
  font-weight: 200
  font-family: "Montserrat"

@font-face
  src: url("~assets/fonts/Montserrat-LightItalic.ttf")
  font-style: italic
  font-weight: 200
  font-family: "Montserrat"

@font-face
  font-family: 'Circular STD'
  src: url('~#{$circularSTDUrl}')

@font-face
  font-family: "Cartogothic STD"
  src: url('~#{$cartogothicSTDURL}')


.catamaran
  font-family: 'Catamaran', sans-serif

.circular
  font-family: 'Circular STD', sans-serif

.cartogothic
  font-family: 'Cartogothic STD', sans-serif

.poppins
  font-family: "Poppins", sans-serif

.montserrat
  font-family: "Montserrat", sans-serif

.raleway
  font-family: "Raleway", sans-serif

.openSans
  font-family: "Open Sans", sans-serif
