.vpHeight
  height: 100vh
  min-height: 100vh
  max-height: 100vh

.vpWidth
  height: 100vw
  min-height: 100vw
  max-height: 100vw

.text-overlay
  position: relative
  z-index: 44

p
  font-size: 16px

.standard-padding
  padding: 15px

.fullWidth
  width: 100%
  min-width: 100%
  max-width: 100%

.fullHeight
  height: 100%
  min-height: 100%
  max-height: 100%








  //TODO FIX THIS FOR LOOP
//@for $var from 1 through 100
   .l-#{$var}
     width: #{$var}%
   .b-#{$var}
      height: #{$var}%